In [5]:
f = open('abc.txt','w')
print('File name : ',f.name)
print('File mode : ',f.mode)
print(f.readable())
print(f.writable())
print(f.closed)
f.close()
print(f.closed)

File name :  abc.txt
File mode :  w
False
True
False
True

In [10]:
with open("abc.txt","r") as file:
    content = file.read()
    print(content)

Aditya Degree College
Kakinada
Andhra Pradesh

In [12]:
with open("abc.txt","r") as file:
    content = file.read(10)
    print(content)

Aditya Deg

In [14]:
with open("abc.txt","r") as file:
    content = file.readline()
    print(content)

Aditya Degree College

In [16]:
with open("abc.txt","r") as file:
    content = file.readlines()
    print(content)

['Aditya Degree College\n', 'Kakinada\n', 'Andhra Pradesh\n']

In [18]:
with open("abc.txt","w") as file:
    file.write("Aditya Degree College")

In [24]:
l=["Aditya Degree College\n","Kakinada\n","Andhra Pradesh\n"]
with open("abc.txt","w") as file:
    file.writelines(l)

In [26]:
with open("abc.txt","a") as file:
    file.write("533001")

In [41]:
#writing to a csv file
import csv
with open("data.csv","w",newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name","Age","City"])
    writer.writerow(["Raju","22","Bangalore"])
    writer.writerow(["Vamsi","25","Hydrabad"])

In [39]:
import csv
with open("data.csv","r") as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Raju', '22', 'Bangalore']
['Vamsi', '25', 'Hydrabad']